.board {
  line-height: 2rem;
}

.row {
  height: 2rem;
}

.colDesc,
.rowDesc {
  width: 2rem;
  height: 2rem;
  margin: 0;
  padding: 0;
  display: inline-block;
  font-size: 1rem;
  line-height: 2rem;
}

.colDesc {
  text-align: center;
}

.rowDesc {
  margin: 0 0.5rem 0 0;
  text-align: right;
}

.square {
  width: 1.8rem;
  height: 1.8rem;
  padding: 0.1rem;
  display: inline-block;
  text-align: center;
}

.square.dark {
  background: rgb(210, 140, 69);
}
.square.light {
  background: rgb(255, 207, 159);
}

.piece {
  width: 1.8rem;
  height: 1.8rem;
}
